<!DOCTYPE html>
<html lang="en">
<head>
     <title>selecting page</title>
     {% include 'flightbookapp/cdnline.html' %}
</head>
<body>
    <h3 class="text-center mt-5">Enter How Many Ticket Do You Want..</h3>
    <div class="containeer">
        <div class="row">
            <div class="offset-4 col-4">
                <form action="">
                <input type="number" value="seat" class="form-control" placeholder="Enter No. of ticket: ">
                <center class="mt-2">
                    <a href="/input" class="btn btn-sm btn-success">Book</a>
                    <input type="reset" name="Cancel" class="btn btn-sm btn-danger">
                </center>
            </form>
            </div>
        </div>
    </div>
    
</body>
</html>